html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: serif; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
/*.content input, .content textarea { margin-bottom: 1em; }*/
.content input { margin-bottom: 1em; }
.content textarea { width:100%;	min-width:16em; min-height:8em; resize:none;}
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 12em; }
input[type=button]{ align-self: start; min-width: 12em; }

/*added below*/
.disclaimer {/*width: 375px;*/ width:75vw; height:auto; /*text-align:center;*/display:block; margin:auto;}
.time_3buttons {width: 375px; height: 200px; /*background-color: #377ba8; opacity:0.7;*/ border:2px#ccc solid; border-radius:3px; margin:10px 0}
/*.fixed_time_buttons {display:flex; flex-flow: column; border:2px #ccc solid; height:200px; margin:0 0 1em;}
/*.inner_button {padding-top: 30px; display: flex; justify-content: space-evenly;}*/
.time_1button {width: 375px; height: 75px; /*background-color: #377ba8; opacity:0.7;*/ border:2px#ccc solid; border-radius:3px; margin:10px 0}
.inner_button {padding:1em; /*background-color:red;*/ margin:5px 0 auto; width:90%;text-align:center;}
.buttons_wrap_hori{height:60px; width:auto; max-width:75vw; display:block; margin:auto;/*background-color:#377ba8;*/}
.auto_buttons{padding:0.1em; margin:auto auto; display:flex;justify-content:space-between; opacity:1.0; border-radius: 10px; cursor:pointer}
.tweet_status{/*width:75vw*/width:100%;height:auto; display:block; margin:auto;/*display:flex;*/justify-content: center;opacity:1.0; border-radius: 5px;}
div[value="Running Auto-Tweet"] {background-color:#FFCCCC;}
div[value="Disabled Auto-Tweet"] {background-color:#377ba8;}
.run{background-color:#FFCCCC;}
.stop{background-color:#377ba8;}
.banner{/*width:75vw;*/ width:auto;height:50; display:block; margin:auto;}
.twitter-timeline {width:375px; height:auto; display:block; margin:auto; /*padding: 60px 0;*/}