{% extends 'base.html' %} 
{% block header %}
{% endblock %}

{% block content %}
  <div class="disclaimer" align="center">
    <h5>To configure auto-tweet settings or to make posts, please login first.</h5>
  </div>
  <a href="https://aivision.tokyo/" target="_blank" ><img src="/static/img/Shibuya_Ai_Vision.png" class="banner" alt = "渋谷愛ビジョンTOP" width="375" height="105" border="1" style="margin:20px 0 border-radius:10px;" ></a>
  </body>

  <!--Twitter timeline-->
  <p align="center"><a class="twitter-timeline" data-width="375" data-height="375"data-theme="light" href="https://twitter.com/shibu_mermaid?ref_src=twsrc%5Etfw">Tweets by shibu_mermaid</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
{% endblock %}